/**/

.buttonPop{
  font-size: 16px;
    padding: 3px 8px;
    margin-right:15px; 
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
.buttonTime{
   margin-right:5px; 
}
.textbig{
  font-size: 18px;
}
.aaa{
  padding-bottom: 30px;
}

.buttonsmall{
  
  padding: 5px 6px;
}
a{
  margin-top: 10px;
  padding-top: 10px;
}


  .clickevent{
    cursor: pointer;
  }
.left{
  margin-left: 5px;
}
.lefttop{
  margin: 20px 0px 10px 10px;
}
.abright{
  position: absolute;
  right: 30px;
  top:20px;
}
.abrightbo{
   position: absolute;
  right: 30px;
  bottom:10px;
}

.toright{
 margin:10px 0px 10px 94px;
}
td{
  font-size: 10px;
  text-align: center;
  word-wrap: break-word;
}

.flex-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.tabhead{
  height: 55px;
}

.toppad{
  padding-top:10px; 
}