/**/

.buttonPop{
  font-size: 20px;
    padding: 5px;
    margin-right:15px; 
    margin-left: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.buttonTime{
   margin-right:5px; 
}
.textbig{
  font-size: 18px;
}
.buttonsmall{
 
  padding: 5px 3px;
}

  .clickevent{
    cursor: pointer;
  }

.lefttop{
  margin: 10px 0px 10px 10px;
}
.toright{
 margin:10px 0px 10px 94px;
}
td{
  font-size: 10px;
  text-align: center;
  word-wrap: break-word;
}